@model List<Post>

<h2>Lista Postów</h2>
@if (Model.Count > 0)
{
    <table class="table">
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model[0].Id)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model[0].Content)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model[0].Autor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Publication_date)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model[0].Tags)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model[0].Comment)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model[0].Priorytet)
            </th>
        </tr>
        @foreach (var (i, post) in @Model)
        {
            <tr>
                <td>
                    @i
                </td>
                <td>
                    @post.Content
                </td>
                <td>
                    @post.Autor
                </td>
                <td>
                    @post.Publication_date
                </td>
                <td>
                    @post.Tags
                </td>
                <td>
                    @post.Comment
                </td>
                <td>
                    @post.Priority.GetDisplayName()
                </td>
                <td>
                    <a class="btn btn-primary"
                        asp-action="EditPost"
                        asp-controller="Post"
                        asp-route-id=@post.Id>
                        Edytuj
                    </a>
                    <a class="btn btn-primary"
                        asp-action="Details"
                        asp-controller="Post"
                        asp-route-id=@post.Id>
                        Szczegoly
                    </a>
                    <a class="btn btn-primary"
                        asp-action="Delete"
                        asp-controller="Post"
                        asp-route-id=@post.Id>
                        Usun
                    </a>
                </td>
            </tr>
        }
    </table>
}
